body {
    margin: 0rem 0rem;
    width: 100vw;
    background-color: rgb(190, 184, 184);
}
nav {
    width: 100vw;
    height: 5rem;
    background: linear-gradient( rgb(99, 108, 243), rgb(32, 2, 117));
}

.nav-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}


.anchor-tags {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.anchor-tags:hover,
.anchor-tags:active {
    color: white;
}

.logo {
    height: 4rem;
    width: auto;
    margin-top: 0.4rem;
}

.section {
    min-height: 17rem;
    margin-top: 5rem;
    background-color: rgb(214, 206, 206);
    border: solid 0.3rem rgb(65, 65, 223);
    width: 95%;
    margin-left: 2%;
}

.sectionImg {
    padding-left: 1rem;
    padding-top: 1rem;
    padding-right: 3rem;
    padding-bottom: 1rem;
    height: 15rem;
    width: 25rem;
    float: left;
}

.section-paragraph {
    padding-right: 1rem;
    margin-left: 2rem;
}

footer {
    width: 100vw;
    height: 4rem;
    background: linear-gradient( rgb(99, 108, 243), rgb(32, 2, 117));
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
}

.anchor-tags__inter {
    padding-left: 0.5rem;
}